.cabecalho {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.cabecalho img {
  height: 40px;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: hsl(0, 0%, 88%);
  margin-right: 30px;
}

a:hover{
  opacity: 0.5;
  transition: 400ms;
}
