.section-produtividade{
    display: flex;
    align-items: center;
    align-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.section-produtividade img {
    height: 330px;
    margin-right: 90px;
}

.textos-produtividade h3{
    color: hsl(0, 0%, 88%);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.textos-produtividade p{
    color: hsl(0, 0%, 88%);
    font-size: 14px;
    padding-bottom: 15px;
    line-height: 1.2;
}

.link{
    display: flex;
    align-items: center;
}

.link a{
    color: hsl(176, 68%, 64%);
    font-size: 14px;
    cursor: pointer;
}

.link img{
    height: 20px;
    margin-left: -25px;
}

@media (max-width: 800px) {
    
    .section-produtividade{
        flex-wrap: wrap;
        padding: 0 70px;
    }
    
    .section-produtividade img {
        height: 150px;
        text-align: center;
        
    }

    .textos-produtividade h3{
        color: hsl(0, 0%, 88%);
        font-size: 24px;
        font-weight: 700;
        padding: 20px 0;
        text-align: center;
    }

    .textos-produtividade p{
        color: hsl(0, 0%, 88%);
        font-size: 15px;
        padding-bottom: 15px;
        line-height: 1.2;
        text-align: center;
    }

    .link img{
        height: 20px;
        margin-left: -25px;
    }

}
  
