.botao {
  background: hsl(176, 38%, 48%);
  padding: 16px 100px;
  border-radius: 25px;
  color: white;
  font-size: 17px;
  font-weight: 700;
}

@media (max-width: 800px) {
  .botao {
    font-size: 18px;
  }
}
