.section-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 60px auto;
  padding-top: 40px;
  align-items: center;
}

.info-item {
  flex: 1 1 300px;
  margin: 20px 40px;
}

.icone{
    text-align: center;
}

.info-item h3 {
  color: hsl(0, 0%, 95%);
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  line-height: 1.2;
}

.info-item p {
  color: hsl(0, 0%, 88%);
  font-size: 14px;
  text-align: center;
  margin-top: 6px;
  line-height: 1.2;
}
